.banner {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(238, 8, 8, 0.7), rgba(0, 0, 0, 0.6)), url(../images/dj-photo.jpg);
    background-size: cover;
    background-position: 35% 50%;
}
.header-text {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: white;
}

html {
    background-color: #1E1E24;
}
h1{
    color: #92140C
}