{% extends 'base.html' %}

{% block content %}
<h1 class="page-title" id="page-head">Chicago DJ Pool Official Blog</h1>
<h5 class="blogcreate"><a href="{{ url_for('createapost') }}">Create a Post</a></h5>
{% if current_user.is_authenticated %}

{% for content in posts %}

<div class="card" id="blogcard" style="width: 58rem;">
    <div class="card-body">
      <h5 class="card-title">{{ content.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Written by: {{ content.username }}</h6>
      <p class="card-text">{{ content.post }}</p>
    </div>
  </div>
  <br>
{% endfor %}

{% else %}
<div class="card" id="blogcard" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">Log in to see blog posts!</h5>
  </div>
</div>
<br>
{% endif %}
{% endblock content %}